ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  font-family: "Lato", sans-serif;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.weather-description {
  font-size: smaller;
}

.icon-position {
  margin: 0 auto;
  text-align: center;
}

#enter-form {
  padding-left: 15px;
}

#search-button {
  padding-left: 25px;
}

#three-buttons {
  padding: 15px;
}

#metric-button {
  padding-left: 0;
}

#today-segment {
  margin: 0 0px;
}

#today-icon-segment {
  margin: 0 auto;
}

#today-description-segment {
  padding: 0 0 0 20px;
}

#coded-text {
  text-align: center;
  font-size: xx-small;
}
