ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

h3,
h4 {
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 15px;
}
h4 {
  font-size: 14px;
  text-align: center;
}

.weather-app {
  font-family: "Lato", sans-serif;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.weather-description {
  font-size: smaller;
  text-align: center;
}

.icon-position {
  margin: 0 auto;
  text-align: left;
}

.forecast-icon {
  max-width: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#enter-form {
  padding-left: 15px;
  padding-bottom: 15px;
}

#search-button {
  padding-left: 5px;
}

#three-buttons {
  padding-bottom: 15px;
}

#metric-button {
  padding-left: 10px;
}

#today-segment {
  margin: 0 0px;
}

#today-icon {
  max-width: 80px;
}

#today-icon-segment {
  margin: 0 auto;
  text-align: left;
}

#today-weather-status {
  padding-left: 10px;
}

#today-description-segment {
  padding: 10px 0 0 20px;
}

#today-degree,
#today-humidity,
#today-wind {
  font-weight: bold;
  font-size: 15px;
}

#coded-text {
  text-align: center;
  font-size: xx-small;
}
